    header  {
        border-bottom: 2px solid #eee;
        padding: 20px 0;
        
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
      }

      header a:hover {
        text-decoration: none;
        color: aquamarine;
    }

      header a {
          text-decoration: none;
          color: aquamarine;
      }

    #vista
    {
      display: none;
    }

    #vista1
    {
      display: none;
    }

    #tabla
    {
      display: none;
    }

    .tabla1
    {
      display: none;
    }


    .grilla{

      display: grid;
      grid-template-columns: repeat(2, 1fr) ;
      gap: 0.5em;
      grid-template-rows: auto auto;

    }

    .cuerpo-zapato{
      background-color: aquamarine;
      color: black;
    }

    .header-logo {
      padding-top: 1%;
      margin: 0 10%;
      
    }

    .header-logo img {
      margin: 0 3%;
      border-radius: 20%;
      border: solid 3px;
    }

    .navbar a:hover{
      border-bottom: solid 2px #eee;
    }

   
    @media only screen and (max-width: 530px) {
      .grilla {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 10px;
      }
    }

  

    
    

    


 